* 
{
  box-sizing: border-box;
}

.container {
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  gap: 60px;
 }

 .players {
  display: flex;
  justify-content: center;
  gap: 80px;
  text-align: center;
  margin-top: 60px;
 }

.dice {
  text-align: center;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
  transition: 0.1s ease;
}

.dice:hover {
  transform: translateY(-5px);
}

.dog-card {
  background-color: #D6F0FF;
  border-top: 6px solid #8ECAE6;
  color: #8ECAE6;
}

.cat-card {
  background-color: #FFD6BA;
  border-top: 6px solid #F4A261;
  color: #F4A261;
}

body {
  background-color: #FFEFF5;
}

h1 {
  margin: 40px 0 20px 0;
  font-family: 'Lobster', cursive;
  text-shadow: 4px 4px 0 #232931;
  font-size: 4.5rem;
  color:  #5E548E;
}

p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: 'poppins', sans-serif;
}

img {
  width: 75%;
}

.controls {
  margin-top: 50px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  background-color: #F4A261;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .players{
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  .dice {
    width: 90%
  }

  button {
    width: 70%
  }
}

